<h1>Welcome to Profit Management App</h1> 
<h1> Landing page </h1>
<br>
<br>
<% if user_signed_in? %>
  You are signed in 
  <li>
  <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>       
  </li>
<% else %>
  <li>
  <%= link_to('Login', new_user_session_path)  %>  
  </li>
  <li>
  <%= link_to 'Sign up here', new_user_registration_path %>
  </li>
<% end %>