$light-green: #68DF99;
$dark-blue: #19283F;
$navy-blue: #2A3E61;

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'proxima-nova-alt', sans-serif;
}

.notice {
  margin-left: 15%;
}

.alert   {
  margin-left: 15%;
}