.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    background-color: #19283F;
    width: 15%;

    .sidebar-logo{
      background-color: #2A3E61;
      max-height: 100px;
      img {
        height: 100px;
        margin-left: auto;
        margin-right: auto;
        width: 100px;
        display: block;
        -webkit-filter: invert(80%);
      }
    }
}
